@import url(https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap);

@keyframes scroll {
	0% { height: 0 }
	100% { height: 100%; }
}

@keyframes type { 
  from { width: 0; } 
} 

@keyframes type2 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes flicker {
		0% { opacity: 0.15795 }
		5% { opacity: 0.31511 }
		10% { opacity: 0.94554 }
		15% { opacity: 0.2469 }
		20% { opacity: 0.62031 }
		25% { opacity: 0.0293 }
		30% { opacity: 0.00899 }
		35% { opacity: 0.5344 }
		40% { opacity: 0.12778 }
		45% { opacity: 0.52042 }
		50% { opacity: 0.3823 }
		55% { opacity: 0.2198 }
		60% { opacity: 0.9383 }
		65% { opacity: 0.86615 }
		70% { opacity: 0.68695 }
		75% { opacity: 0.55749 }
		80% { opacity: 0.96984 }
		85% { opacity: 0.0361 }
		90% { opacity: 0.24467 }
		95% { opacity: 0.08351 }
		100% { opacity: 0.54813 }
	}

* {
	box-sizing: border-box;
	}
	
html,
body {
	font-size: 64.5%;
	font-size: 1.4em;
	height: 100%;
	margin: 0;
	padding: 0;
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    color: #8ee28e;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 5px;
    background-color: #031c00
}

h1, h2, h3 h4, h5, h6 { 
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

a {
	color: white;	
	text-decoration: none;	
}

a:hover {
	color: red;
}

p { 
	line-height: 100%;
	margin: 0; 
}


ul {
	list-style: none;
}

ul a:before,
p a:before {
	color: #00dd00;
	content: ' [ ';
}

ul a:after,
p a:after {
	color: #00dd00;
	content: ' ] ';	
}

header.site {
	margin: 0 0 40px 0;
	text-transform: uppercase;
}

.overlay {
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
}

.overlay:before {
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	z-index: 2;
}
	
.overlay:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.5s infinite;
}

.col {
	float: left;
	padding: 0 20px;
}

.col.two { width: auto; }

.wrapper {
  animation: scroll 5s 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.content { 
	animation: scroll 3s 1;
  overflow: hidden;
	padding: 40px; 
	position: relative;
	width: 95%;
}

label {
	clear: left;
	display: block;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}

.expandingArea { position: relative }

.clear {
	clear: both;
}

.clearfix {
  overflow: hidden;
  zoom: 1;
}

.upper { text-transform: uppercase; }