<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad Request</title>
    <style>
      .error-container {
        text-align: center;
      }

      h1 {
        color: #f00;
      }
    </style>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="wrapper">
       <div class="content clearfix">
        <div class="error-container site clear">
          <h1>Bad Request</h1>
          <p><%= error %> </p>
        </div>
      </div>
      <p class="clear">
        <br>
      </p>
    </div>
    </div>
  </body>
  </body>
</html>