<!DOCTYPE html>
<title>Urban Planning Commission's Public Information System</title>
<body>
    <div class="overlay"></div>
    <div class="wrapper">
      <div class="content clearfix">
        <link rel="stylesheet" href="/static/css/style.css">
        <header class="site clearfix">
          <div class="col one"></div>
          <div class="col two">
            <center>
                <h2>Urban Planning Commission's Public Information System</h2>
                <p>-----------------------------------</p>
                <p>Stay informed about the latest developments regarding the ongoing underground pathway project.</p>
              </center>
          </div>
        </header>
        <nav class="site clear">
          <ul>
            <li>
              <a href="javascript:void(0)" onclick="downloadReport('report/enviromental-impact', 'enviromental-impact-report')">Enviromental Impact</a>
            </li>
            <p>Gain insights into the comprehensive environmental impact assessment associated with the project, including findings and recommendations.</p>
            <br />
            <li>
              <a href="javascript:void(0)" onclick="downloadReport('report/progress', 'progress-report')">Construction Progress</a>
            </li>
            <p>Access detailed updates on the construction progress, showcasing milestones achieved and upcoming phases.</p>
            <br />
          </ul>
        </nav>
        <p class="clear">
          <br />
        </p>
      </div>
    </div> 
</body>


<script src="/static/js/index.js"> </script>