body {
    background-color: #000 !important;
}

a {
    color: #0dcaf0;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: #0dcaf0;
    text-decoration: underline;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.loading-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fluctuate 2s infinite;
}

.hide {
    display: none !important;
}

@keyframes fluctuate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.bg-dark-purple {
    background-color: rgb(53, 2, 134) !important;    
}

.nav-item-right {
    overflow: auto;
    white-space: nowrap;
    float: right !important;
}

.nav-link-right {
    display: inline;
    text-decoration: none;
}

.fixed-top {
    z-index: 0 !important;
}

.tracker-image {
    width: 250px !important;
    height: 250px !important;
}