@import url(https://fonts.googleapis.com/css?family=Francois+One);
body {
  background-color: #393E41;
  color: #F6F7EB;
  overflow-x: hidden;
  font-size: 100%;
  font-family: "Francois One", Helvetica, Arial, sans-serif;
}

svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section {
  min-width: 600px;
}

text {
  opacity: 0.7;
}

h1, h2, p {
  text-align: center;
  color: #F6F7EB;
  font-size: 3em;
  line-height: 1;
  margin: 20px 0 0;
  text-shadow: 0px 5px 15px #393E41;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

.search-form {
  padding-top: 15px;
  text-align: center;
  position: relative;
}

input {
  background-color: #fff;
  font-size: 15px;
  padding: 20px;
  width: 100%;
  border: 1px solid #F6F7EB;
  border-radius: 5px;
}

.emoji-container {
  height: 285px;
  overflow-y: scroll;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
  padding: 0 15px 5px 0;
  width: 40px;
  display: inline;
  font-size: 35px;
}

abbr {
  text-decoration: none;
  cursor: pointer;
  font-family: Times;
}

abbr[title=undefined] {
  display: none;
}